.jumbotron {
	/*background-color: rgb(104, 112, 223);*/
	background-image: url("../images/cabecera.png");
	background-size: cover;
	color: black;	
	margin-top: 50px;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: rgb(104, 112, 223);
	margin-bottom: 0px;
	margin-top: 10px;
	color: whitesmoke;
}

footer a {
	color: whitesmoke;
}

footer p {
	font-size: smaller;
}

.card-hotel{
	padding: 2px 0px 2px 0px;
	margin-top: 10px;
}

.imagen-hotel{
	padding: 5px 0px 5px 0px;
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;	
}

.footer-address-icon{
	padding-right: 10px;
}

.plus-reserva{
	padding-right: 5px;
	color: rgb(38, 0, 255);
}

.tab-content {
	padding-top: 10px;
}