$lila: #6870df;
$amarillo: #fbff00;
$rojo:  #ff0000;
$verde:  #00ff00;
$azul : rgb(38, 0, 255);

@mixin margenes($top, $bottom){
    @if $top != false {
        margin-top : $top;
    }
    @if $bottom != false {
        margin-bottom: $bottom;
    }
}

@mixin padding($top,$right,$bottom,$left){
    @if ($top != false) and ($right != false) and
        ($bottom != false) and ($left != false) {
            padding: $top $right $bottom $left;
    }@else{
        @if $top != false {
            padding-top : $top;
        }
        @if $right != false {
            padding-right : $right;
        }
        @if $bottom != false {
            padding-bottom: $bottom;
        }
        @if $left != false {
            padding-left: $left;
        }   
    }
}

@mixin combinacion_colores($back,$front){
    background-color: $back;
    color: $front;
}

.jumbotron {
	background-image: url("../images/cabecera.png");
	background-size: cover;
    color: white;	
    @include margenes(50px,false);
}

footer{
    @include padding(10px,10px,0px,10px);
	background-color: $lila;
    @include margenes(10px,0px);
	color: whitesmoke;
}

.amarillo {
    @include combinacion_colores($amarillo,$lila);
}
.rojo {
    @include combinacion_colores($rojo,$amarillo);
}
.verde {
    @include combinacion_colores($verde,$lila);    
}

footer a {
	color: whitesmoke;
}

footer p {
	font-size: smaller;
}

.card-hotel{
    @include padding(2px,0px,2px,0px);
    @include margenes(10px,false);
}

.imagen-hotel{
    @include padding(5px,0px,5px,0px);
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;	
}

.footer-address-icon{
	@include padding(false,10px,false,false);
}

.plus-reserva{
    @include padding(false,5px,false,false);
	color: $azul;
}

.tab-content {
    @include padding(10px,false,false,false);
}

