.jumbotron {
  background-image: url("../images/cabecera.png");
  background-size: cover;
  color: white;
  margin-top: 50px; }

footer {
  padding: 10px 10px 0px 10px;
  background-color: #6870df;
  margin-top: 10px;
  margin-bottom: 0px;
  color: whitesmoke; }

.amarillo {
  background-color: #fbff00;
  color: #6870df; }

.rojo {
  background-color: #ff0000;
  color: #fbff00; }

.verde {
  background-color: #00ff00;
  color: #6870df; }

footer a {
  color: whitesmoke; }

footer p {
  font-size: smaller; }

.card-hotel {
  padding: 2px 0px 2px 0px;
  margin-top: 10px; }

.imagen-hotel {
  padding: 5px 0px 5px 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.plus-reserva {
  padding-right: 5px;
  color: #2600ff; }

.tab-content {
  padding-top: 10px; }
