@lila: #6870df;
@amarillo: #fbff00;
@rojo:  #ff0000;
@verde:  #00ff00;
@azul : rgb(38, 0, 255);

.margenes(@top; @bottom) when (not(@top = false)) {
    margin-top : @top;
}   
.margenes(@top; @bottom) when (not(@bottom = false)) {
    margin-bottom: @bottom;
}

.padding(@top;@right;@bottom;@left) when (not(@top = false) and not(@right = false) and
                                          not(@bottom = false) and not(@left = false)) {
    padding: @top @right @bottom @left;
}

.padding(@top;@right;@bottom;@left) when (not(@top = false) and ((@right = false) or
                                                                 (@bottom = false) or
                                                                 (@left = false ))) {
    padding-top : @top;
}
.padding(@top;@right;@bottom;@left) when (not(@right = false) and ((@top = false) or
                                                                   (@bottom = false) or
                                                                   (@left = false ))) {
    padding-right : @right;
}
.padding(@top;@right;@bottom;@left) when (not(@bottom = false) and ((@right = false) or
                                                                    (@top = false) or
                                                                    (@left = false ))) {
    padding-bottom: @bottom;
}
.padding(@top;@right;@bottom;@left) when (not(@left = false) and ((@right = false) or
                                                                  (@bottom = false) or
                                                                  (@top = false))) {
    padding-left: @left;
}

.combinacion_colores(@back,@front){
    background-color: @back;
    color: @front;
}

.jumbotron {
	/*background-color: rgb(104, 112, 223);*/
	background-image: url("../images/cabecera.png");
	background-size: cover;
    color: black;	
    .margenes(50px,false);
}

footer{
    .padding(10px,10px,0px,10px);
	background-color: @lila;
    .margenes(10px,0px);
	color: whitesmoke;
}

.amarillo {
    .combinacion_colores(@amarillo,@lila);
}
.rojo {
    .combinacion_colores(@rojo,@amarillo);
}
.verde {
    .combinacion_colores(@verde,@lila);    
}

footer a {
	color: whitesmoke;
}

footer p {
	font-size: smaller;
}

.card-hotel{
    .padding(2px,0px,2px,0px);
    .margenes(10px,false);
}

.imagen-hotel{
    .padding(5px,0px,5px,0px);
}

.btn-reserva{
	width: 100%;
	border-radius: 0px;	
}

.footer-address-icon{
	.padding(false,10px,false,false);
}

.plus-reserva{
    .padding(false,5px,false,false);
	color: @azul;
}

.tab-content {
    .padding(10px,false,false,false);
}